.header{
    margin: 10px 25px;
    padding: 30px 20px;
    display:flex;
    justify-content: stretch;
}

.header-contein{
    display:flex;
    justify-content: space-between;
    margin-left: 40px;
}

.header-parrafo-1{
    text-align: center;
    justify-content: center;
    padding-top: 40px;
    align-items: center;
    color: var(--white);  
    font-size: 40px;
}

@media (max-width:780px){
    .header{
       
        margin: auto;
        padding: 0;
        display: flex;
        flex-wrap:nowrap;
        align-items: center;
        flex-direction: column-reverse;
        
    }
    .header-contein-img{
        padding: 30px 20px;
        display: flex;
        text-align: center;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
    }
    .header-contein{
        margin: 0;
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        text-align: center;
    }
    
    .header-parrafo-1{
        margin: 0;
        padding: 0;
        display: flex;
        text-align: center;
        color: var(--white);  
        font-size: 40px;
    }

}
