.header{
    margin: 10px 25px;
    padding: 30px 20px;
    display:flex;
    justify-content: stretch;
}

.header-contein{
    display:flex;
    justify-content: space-between;
    margin-left: 40px;
}

.header-parrafo-1{
    text-align: center;
    justify-content: center;
    padding-top: 40px;
    align-items: center;
    color: var(--white);  
    font-size: 40px;
}