@import "./header.css";
@import "./main.css";
@import "./footer.css";

:root{
    --naranja: #F3AA60;
    --white: #FFFEC4;
    --blue: #1D5B79;
    --black: #001C30;
    --font: system-ui;
}

* {
    margin: 0;
    box-sizing: border-box;
}


body{
    background-color: var(--black);
    margin: 0;
    padding: 50px;
    font-family: var(--font);
}